@model Course
@{
    ViewData["Title"] = "Passing course";
}
<div>
    <div class="d-flex">
        <div class="flex-fill">
            <h3>The course:</h3>
            <h1>@Model.Name</h1>
        </div>
        <div class="d-flex flex-column">
            <a asp-action="Index" class="btn btn-secondary mb-3">Back to List</a>
            <a asp-controller="Test" asp-action="Start" asp-route-id="@Model.Test.Id" class="btn btn-success">Start Test</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 col-sm-4">
            <nav id="lesson-list" class="navbar navbar-light bg-light navbar-expand-sm navbar-toggleable-sm">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#lesson-list-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav id="lesson-list-collapse" class="nav navbar-collapse collapse nav-pills flex-column d-sm-inline-flex align-items-start p-3">
                    <span class="navbar-brand mb-2">Lessons:</span>
                    @{
                        foreach (var lesson in Model.LessonsList)
                        {
                            string itemId = "lesson" + lesson.Id;
                            <a class="nav-link" href="#@itemId">@lesson.Name</a>
                        }
                    }
                </nav>
            </nav>
        </div>
        <div class="col-12 col-sm-8">
            <div data-bs-spy="scroll" data-bs-target="#lesson-list" data-bs-offset="0" class="scrollspy" tabindex="0">
                @{
                    foreach (var lesson in Model.LessonsList)
                    {
                        string itemId = "lesson" + lesson.Id;
                        <hr id="@itemId" class="mt-0 mb-5 border border-5 border-secondary" />
                        <h4 class="mb-1">@lesson.Name</h4>
                        <hr id="@itemId" class="mt-0 mb-3 border border-1 border-secondary" />
                        <p>@lesson.Material</p>
                        <p>Some text or code Some text or code Some text or code Some text or code Some text or code</p>
                        <p>Some text or code Some text or code Some text or code Some text or code Some text or code</p>
                        <p>Some text or code Some text or code Some text or code Some text or code Some text or code</p>
                        <p>Some text or code Some text or code Some text or code Some text or code Some text or code</p>
                        <p>Some text or code Some text or code Some text or code Some text or code Some text or code</p>
                        <p>Some text or code Some text or code Some text or code Some text or code Some text or code</p>
                        <p>Some text or code Some text or code Some text or code Some text or code Some text or code</p>
                    }
                }
            </div>
        </div>
    </div>
</div>